.intro{

    display: flex;
    height: 30vw;
    border: 2px solid rgb(60, 110, 108);
    border-radius: 2vw;
    background-color: rgb(60, 110, 108);
    margin-bottom: 5vw;
}

.photo_container{

    display: flex;

}


#photo{

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    height: inherit;
    width: 25vw;
}

.welcome{
    
    vertical-align: middle;
    margin-left: 6vw;
    margin-top: 1vw;
    color: ghostwhite;
    
}
.welcome h1{

    text-align: center;
    vertical-align: middle;
    font-size: 6vw;
    color: ghostwhite;
    
}

.welcome p{
    font-size: 3.5vw;
    text-align: center;
  
}

.headingtext{

    font-size: 25px;
    background-color: rgba(129, 116, 116, 0.356);
    padding: 1vw;

}

.data{

    display: flex;
    margin-bottom: 5vw;
}



.datacontainer{

    margin-top: 1vw;
    width: 60%;
}

p{

    font-size: 20px;
}

.workexp img{

    display: block;
    margin-top: 10%;
    width: 80%;
    max-width: 300px;
}

.education img{

    display: block;
    margin-top: 10%;
    width: 80%;
    min-width: 150px;
    max-width: 550px;
}

.skill{

    margin-bottom: 50px;
}
.skills .images{
    text-align: center;
    align-content: center;
}

.skill .images img{

    margin-left: 50px;
    margin-top: 50px;
    width: 100px;
    height: 100px;
   

    max-width: 150px;
}

